.badge
  box()
  align-items: center
  gap: 0.5rem
  font-weight: 500
  color: black
  background: #ffffff
  padding: 0.25rem 0.5rem
  border-radius: 0.3rem

  &--icon-left&
    padding-left: 0.25rem
  
  &--icon-right&
    padding-right: 0.25rem

  &--link&
    background: rgba(255, 255, 255, 0.08)
    color: accent

  &--accent&
    background: transparentify(accent, 25%)
    color: white
