.box
  display: flex
  &--column&
    flex-direction: column

  &--padding-1&
    padding: 0.25rem

  &--padding-2&
    padding: 0.5rem

  &--padding-3&
    padding: 0.75rem

  &--padding-4&
    padding: 1rem

  &--gap-1&
    gap: 0.25rem

  &--gap-2&
    gap: 0.5rem

  &--gap-3&
    gap: 0.75rem

  &--gap-4&
    gap: 1rem

  &--vcenter&
    align-items: center

  &--hcenter&
    justify-content: center

  &--vexpand&
    width: 100%

  &--hexpand&
    height: 100%

  &--card&
    background: #272727
    border-radius: 0.3rem
    box-shadow:
      inset 0 0 0 0.08rem rgba(255, 255, 255, 0.025),
      0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.1),
      0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.1)

  &--skeleton&
    border-radius: 0.3rem
    background: transparentify(white, 0.05)

  &--modal&
    background: #1f1f1f
    border-radius: 0.3rem
    box-shadow:
      inset 0 0 0 0.08rem rgba(255, 255, 255, 0.025),
      0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.1),
      0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.1),
      0 0.5rem 1rem 0 rgba(0, 0, 0, 0.4)

  &--card2&
    background: #2c2c2c
    border-radius: 0.3rem
    box-shadow:
      inset 0 0 0 0.08rem rgba(255, 255, 255, 0.05),
      0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.1),
      0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.1)

  &--warn&
    background: #3a3100
    border-radius: 0.3rem
    box-shadow:
      inset 0 0 0 0.08rem rgba(255, 255, 255, 0.05),
      0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.1),
      0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.1),
      inset 1.2rem 0 0 -1rem #be9e00

  &--accent&
    background: mix(accent, #1f1f1f, 10%)
    border-radius: 0.3rem
    box-shadow:
      inset 0 0 0 0.08rem rgba(255, 255, 255, 0.05),
      0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.1),
      0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.1),
      inset 1.2rem 0 0 -1rem accent

  &--wrap&
    flex-wrap: wrap

  &--wrap-reverse&
    flex-wrap: wrap-reverse
