.icon
  color: white
  materialSymbolsOutlined()
  user-select: none
  font-size: 1.5rem

  &--sm&
    font-size: 1.25rem

  &--accent&
    color: accent
  
  &--warn&
    color: #eeca16

  &--gray&
    color: #b4b4b4

  &--dark-gray&
    color: #646464

  &--black&
    color: black
