.menu-item
  box()
  background: none
  border: none
  color: white
  padding: 0.5rem
  gap: 0.5rem
  border-radius: 0.3rem
  transition: all 200ms easeInOutQuart

  &:hover
    background: #131313

  &:active
    background: #1e1e1e
