.palette-button
  position: relative
  background: red
  width: 3rem
  height: 3rem
  border: none
  border-radius: 0.3rem
  border: 0.1rem solid transparent
  transition: all 200ms easeInOutQuart
  box-shadow:
    0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.1),
    0 0.1rem 0.25rem 0 rgba(0, 0, 0, 0.1)
  
  &:hover, &--active&
    border-color: white

  &::after
    box()
    justify-content: center
    align-items: center
    position: absolute
    top: 0
    left: 0
    materialSymbolsOutlined()
    font-size: 1.25rem
    content: "check"
    background: white
    width: 1.5rem
    height: 1.5rem
    border-bottom-right-radius: 0.3rem
    transition: all 200ms easeInOutQuart
    opacity: 0

  &--active&::after
    opacity: 1
