.text
  &--xs&
    font-size: 0.8rem

  &--sm&
    font-size: 0.95rem

  &--lg&
    font-size: 1.3rem
  
  &--xl&
    font-size: 1.5rem

  &--gray&
    color: #b4b4b4

  &--dark-gray&
    color: #646464

  &--bold&
    font-weight: 500
